@font-face {
	font-family: 'AncientModernTales';
	src: url('../fonts/AncientModernTales.woff2') format('woff2');
}
@font-face {
	font-family: 'SuperLegendBoy';
	src: url('../fonts/SuperLegendBoy.woff2') format('woff2');
}
::selection {
	background: #eee;
	color: #2C2C2C;
}
html, body {
	margin: 0;
	padding: 0;
	background-color: #2C2C2C;
	color: #eee;
	font-size: 16px;
	-webkit-font-smoothing: auto;
}
#wrapper {
	margin: 0 auto;
}
.h1 {
	margin: 0 auto;
	display: block;
	width: max-content;
	white-space: pre;
}
h1 {
	font-family: 'AncientModernTales', Arial, Helvetica, sans-serif;
	font-size: 8rem;
	letter-spacing: 1px;
	text-align: left;
	padding: 0;
	margin: 0;
	display: block;
}
footer {
	margin-top:40px;
	margin-left:-5px;
	margin-right:5px;
	margin-bottom:10px;
	width: 100%;
	text-align: right;
}
#searchBar {
	margin: 0 auto;
	display: block;
	width: 700px;
}
#searchBar form {
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
}
.searchBar {
	margin-top: 30px;
	overflow: hidden;
	padding: 1rem 0.75rem;
	background-color: #eee;
	border: solid 2px #2C2C2C;
  transition: all linear .1s;
}
.searchBar input {
	width: 100%;
	height: 100%;
	font-family: Consolas, Courier, monospace;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 1.5rem;
	background-color: inherit;
	caret-color: currentColor;
	color: #2C2C2C;
	border: none;
  outline: none;
}
.searchBar input::selection,
.balances input::selection {
	color: #eee;
	background: #2C2C2C;
}
.searchBar:hover,
.searchBar:focus,
.searchBar:focus-within,
.balances input:hover,
.balances input:focus,
.balances input:focus-within {
	border: solid 2px red;
}
#searchBar .btn {
	font-family: 'SuperLegendBoy', 'Courier New', Courier, monospace;
	overflow: hidden;
	color: #eee;
	position: relative;
	background-color: rgba(0,0,0,0.3);
	border: solid 2px #2C2C2C;
	width: 300px;
	margin: 0 auto;
	margin-top: 20px;
}
#searchBar .btn:focus-within,
#searchBar .btn:hover,
#searchBar .btn:focus {
	border: solid 2px red;
}
.btn input {
	font-family: inherit;
	padding: 0.75rem 1rem;
	color: inherit;
	border: none;
	width: 100%;
	height: 100%;
	background-color: inherit;
	text-align: left;
  text-indent: 80px;
  cursor: pointer;
}
.btn::before {
	content: '>';
	color: currentColor;
	font-family: inherit;
	font-size: inherit;
	position: absolute;
	transition: linear 0.2s;
	top: 50%;
	transform: translateY(-50%);
	left: -10px;
}
.btn:hover::before,
.btn:focus-within::before {
	left: 75px;
}
.checks {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-top: 20px;
}
.balances {
  width: 100%;
  margin:10px;
  background-color: rgba(0,0,0,0.3);
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem 0;
}
.balances input {
  font-family: inherit;
  font-size: inherit;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 1rem;
	caret-color: currentColor;
	color: #2C2C2C;
	border: none;
  outline: none;
  border: solid 2px transparent;
  transition: all linear .2s;
}
#wrapper form p {
  background-color: rgba(0, 0, 0, 0.3);
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 0;
  margin-bottom: 0;
}
.chk {
  font-family: 'SuperLegendBoy', 'Courier New', Courier, monospace;
  font-size: 0.8rem;
  box-sizing: border-box;
  margin: 0px 10px 10px 0px;
  padding: 0.5rem 0.75rem;
  background-color: rgba(0,0,0,0.3);
  border: solid 2px #2C2C2C;
  position: relative;
  transition: all linear .1s;
  cursor: pointer;
}
.chk:focus,
.chk:hover,
.chk:focus-within {
  border: solid 2px red;
}
.chk::selection {
  background: transparent;
  color: #eee;
}
.chk span {
  display: inline-block;
  background-color: #eee;
  width: 10px;
  height: 10px;
  margin-left: 0.75rem;
  z-index: 1;
  transition: all linear 0.1s;
  cursor: pointer;
}
.chk input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}
.chk input:checked + span {
  background-color: red;
}
#main {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 2500px;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: space-evenly;
  margin: 0 auto;
}
#resultsWrapper {
  min-width: 100px;
  box-sizing: border-box;
  padding: 10px;
  width: 70%;
}
.result {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  background-color: rgba(0,0,0,0.1);
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  border: solid 2px #2C2C2C;
/*transition: border linear .2s;*/
}

.result:focus,
.result:focus-within {
  border: solid 2px red;
}
.result .name {
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-family: 'SuperLegendBoy', 'Courier New', Courier, monospace;
}
.result .year {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.result .publ {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.result .thumb {
  width: 150px;
  height: 150px;
  display: inline-block;
  position: relative;
}
.result button.butt,
.result .butt input,
header .butt {
  outline: none;
  border: solid 2px transparent;
  transition: all linear .2s;
	font-family: 'SuperLegendBoy', 'Courier New', Courier, monospace;
  font-size: 0.7rem;
  padding: 0.5rem 0.75rem;
  background-color: rgba(0,0,0,0.3);
  color: #eee;
  cursor:pointer;
}
.result button.butt:hover,
.result button.butt:focus,
.result button.butt:focus-within,
.result .butt input:hover,
.result .butt input:focus,
.result .butt input:focus-within,
header .butt:hover,
header .butt:focus,
header .butt:focus-within {
  border: solid 2px red;
}
.result button.butt:active,
.result .butt input:active,
header .butt:active {
  filter: invert(1)
}
.result form {
  display: inline-block;
}
.thumb img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color:rgba(0,0,0,0.1);
}
aside {
  overflow: hidden;
  min-width: 250px;
  box-sizing: border-box;
  width: 25%;
  position:relative;
  margin-top: 20px;
}
canvas {
  width: 100%;
  height: 100%;
  object-fit: absolute;
}
aside>a{
  position: absolute; /*position needs to be not static for z-index to work*/
}
header {
  display: block;
  background-color: rgba(0,0,0,0.4);
  margin: 20px;
  padding: 30px;
  max-width: 2500px;
  margin: 0 auto;
}
header form {
  width: 100%;
  display: block;
}
header input[type="text"] {
  font-size: 2rem;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  background-color: #eee;
  color: #2C2C2C;
  outline: none;
  border: solid 2px transparent;
  transition: all linear .2s;
  width: 100%;
  display: block;
}
header input[type="text"]:hover,
header input[type="text"]:focus-within,
header input[type="text"]:focus {
  border: solid 2px red;
}
header h1 {
  margin-bottom: 10px;
}
header .pages {
  margin: 10px 0 0 0;
  justify-content: flex-start;
}
header .pages form {
  width: initial;
}
header .pages input[type="submit"],
header .pages input[type="button"]{
  font-size: 1rem;
}
.pages {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 30px;
}
.pages input[type="submit"],
.pages input[type="button"] {
  outline: 0;
  border: solid 2px transparent;
  background-color: rgba(0,0,0,0.3);
  color: #eee;
  transition: all linear .2s;
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  margin-right: 10px;
  cursor: pointer;
}
.pages input[type="submit"]:disabled,
.pages input[type="submit"]:active {
  filter: invert(1);
}
.pages input[type="submit"]:hover,
.pages input[type="submit"]:focus,
.pages input[type="submit"]:focus-within {
  border: solid 2px red;
}
h1.smaller {
  font-size: 5rem;
}
h1.entryName {
  font-size: 4rem;
  margin-top: 20px;
}
.entry {
  margin: 20px auto;
  max-width: 1600px;
  width: 95%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.1);
  padding: 20px;
}
.entry .dets {
  font-family: 'Consolas', 'Courier New', Courier, monospace;
  width: 60%;
}
.entry .image {
  width: 30%;
  height: auto;
}
.entry .image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.entry p a:visited,
.entry p a,
.bu {
  display: inline-block;
  color: #eee;
  background-color: rgba(0,0,0,0.3);
  border: solid 2px transparent;
  transition: all linear .2s;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
.entry p a:hover,
.entry p a:focus,
.entry p a:focus-within,
.bu:hover,
.bu:focus,
.bu:focus-within {
  border: solid 2px red;
}
.entry p a:active,
.bu:active {
  filter: invert(1)
}
.entry form {
  display: inline-block;
}