@font-face {
  font-family: 'AncientModernTales';
  src: url('../fonts/AncientModernTales.woff2') format('woff2');
}
html, body {
  margin: 0;
  padding: 0;
  background-color: #2C2C2C;
  -webkit-font-smoothing: auto;
  color: #eee;
  font-size: 16px;
}
::selection {
  background: #eee;
  color: #2C2C2C;
}
#wrapper {
  margin: 0 auto;
}
h1 {
  font-family: 'AncientModernTales', Arial, Helvetica, sans-serif;
  font-size: 8rem;
  letter-spacing: 1px;
  text-align: center;
}
#searchbar {
  margin: 0 auto;
  display: block;
}
#searchbar form {
  margin: 0 auto;
  text-align: center;
}