<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href=" {{ url_for('static', filename='images/favicon.ico') }} ">
		<link rel="stylesheet" href=" {{ url_for('static', filename='styles/main.css')}} ">
		<title>{{ name }}</title>
	</head>
	<body>
	
		<form method="get" action="{{ url_for('results') }}">
			<label>
				<input type="text" name="searchterm" value ="{{ query }}" checked/>
				<input type="submit" value="Search now"/>
			</label>
		</form>
		<h1>{{ name }}</h1>
		<div><img src="{{ images }}"/></div>
		<p>developers : {{ developers }} | publishers : {{ publishers }}
		<p>{{ description }}</p>
		<p>available for:<br />{{consoles}}</p>
		<p>Genres: {{ genres }} </p>
		<form method="get" action="{{ url_for('results') }}">
			<label style="display:none"><input type="text" value="related:{{ gid }}" name="searchterm"/></label>
			<label><input type="submit" value="Related Games"/></label>
		</form>
		<form method="post" action="{{ url_for('index') }}">
			<input type="submit" value="Search Page"/>
		</form>	
	</body>
</html>
