<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href=" {{ url_for('static', filename='images/favicon.ico') }} ">
		<link rel="stylesheet" href=" {{ url_for('static', filename='styles/main.css')}} ">
		<title>Retro-Sounding</title>
	</head>
	<body>
    <div id="wrapper">
			<h1><a style="padding: 100px; display:block;margin: 100px auto;font-size:4rem; text-align: center" class="bu" href="{{ url_for('index') }}">Page Not Found, Sorry about that, Click here to go home!</a></h1>
		</div>
    <script type="text/javascript"></script>
	</body>
</html>