<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href=" {{ url_for('static', filename='images/favicon.ico') }} ">
		<link rel="stylesheet" href=" {{ url_for('static', filename='styles/main.css')}} ">
		<title>Retro-Sounding</title>
	</head>
	<body>
		<div id="wrapper">
			<div class="h1"><h1>『Retro
        Sounding  』</h1></div>
			<div id="searchBar">
				<form method="get" action="{{ url_for('results') }}">
					<label class="searchBar"><input type="text" name="searchterm" checked/></label>
					<label class="chk">Name<input type=checkbox name="name" checked/></label>
					<label class="chk">Year<input type=checkbox name="release_year" checked/></label>
					<label class="chk">Developers<input type=checkbox name="developers" checked/></label>
					<label class="chk">Publishers<input type=checkbox name="publishers" checked/></label>
					<label class="chk">Genres<input type=checkbox name="genres" checked/></label>
					<label class="chk">Description<input type=checkbox name="description" checked/></label>
					<label class="chk">Consoles<input type=checkbox name="consoles" checked/></label>
					<label class="btn submit"><input type="submit" value="Search now"/></label>
					<label class="btn random"><input type="submit" value="Random Page" onClick="random()"/></label>
				</form>
				<script type="text/javascipt">const random = () => {document.getElementsByClassName('searchBar')[0].children[0].value = ''}</script>
			</div>
		</div>
	</body>
</html>